body {
    background-color:  rgb(130 13 253 / 34%) !important;
}

.form-control {
    border-radius: 0.5rem; 
}

h2 {
    color: #333; 
}

.btn {
    transition: background-color 0.3s, color 0.3s; 
}

.btn:hover {
    background-color: #0056b3; 
    color: #fff; 
}
